@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: "Rubik Variable", sans-serif;
}

.text-xxs {
  font-size: 0.5rem /* 12px */;
  line-height: 0.75rem /* 16px */;
}

.principal-bg-gradient {
  background: hsla(273, 75%, 67%, 1);

  background: linear-gradient(
    180deg,
    hsla(273, 75%, 67%, 1) 0%,
    hsla(356, 100%, 68%, 1) 36%,
    hsla(18, 100%, 67%, 1) 71%,
    hsla(31, 100%, 65%, 1) 100%
  );

  background: -moz-linear-gradient(
    180deg,
    hsla(273, 75%, 67%, 1) 0%,
    hsla(356, 100%, 68%, 1) 36%,
    hsla(18, 100%, 67%, 1) 71%,
    hsla(31, 100%, 65%, 1) 100%
  );

  background: -webkit-linear-gradient(
    180deg,
    hsla(273, 75%, 67%, 1) 0%,
    hsla(356, 100%, 68%, 1) 36%,
    hsla(18, 100%, 67%, 1) 71%,
    hsla(31, 100%, 65%, 1) 100%
  );

  filter: progid: DXImageTransform.Microsoft.gradient( startColorstr="#B16CEA", endColorstr="#FF5E69", GradientType=1 );
}

.principal-text-gradient {
  background-image: hsla(273, 75%, 67%, 1);

  background-image: linear-gradient(
    90deg,
    hsla(273, 75%, 67%, 1) 0%,
    hsla(356, 100%, 68%, 1) 36%,
    hsla(18, 100%, 67%, 1) 71%,
    hsla(31, 100%, 65%, 1) 100%
  );

  background-image: -moz-linear-gradient(
    90deg,
    hsla(273, 75%, 67%, 1) 0%,
    hsla(356, 100%, 68%, 1) 36%,
    hsla(18, 100%, 67%, 1) 71%,
    hsla(31, 100%, 65%, 1) 100%
  );

  background-image: -webkit-linear-gradient(
    90deg,
    hsla(273, 75%, 67%, 1) 0%,
    hsla(356, 100%, 68%, 1) 36%,
    hsla(18, 100%, 67%, 1) 71%,
    hsla(31, 100%, 65%, 1) 100%
  );

  -webkit-background-clip: text;
  background-clip: text;
  color: transparent;

  filter: progid: DXImageTransform.Microsoft.gradient( startColorstr="#B16CEA", endColorstr="#FF5E69", GradientType=1 );
}
